USE [master]
GO
/****** Object:  Database [OCEAN_HOSTEL]    Script Date: 4/18/2024 5:59:06 PM ******/
CREATE DATABASE [OCEAN_HOSTEL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OCEAN_HOSTEL', FILENAME = N'G:\ocean-hostel-master\Database\OCEAN_HOSTEL.mdf' , SIZE = 4352KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'OCEAN_HOSTEL_log', FILENAME = N'G:\ocean-hostel-master\Database\OCEAN_HOSTEL_log.LDF' , SIZE = 10176KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OCEAN_HOSTEL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OCEAN_HOSTEL]
GO
/****** Object:  UserDefinedFunction [dbo].[FUNC__DICHVU__GetNextID]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


------------------------------------------
CREATE	FUNCTION	[dbo].[FUNC__DICHVU__GetNextID]()
RETURNS	VARCHAR(10)
AS
BEGIN
	DECLARE @MAXID INT

	SELECT @MAXID = CONVERT(INT, MAX(SUBSTRING(MADICHVU, 4, LEN(MADICHVU) - 3)))
	FROM DICHVU
	
	---------------------------------
	IF (@MAXID IS NULL)
		SET @MAXID = '0'
	
	
	DECLARE @DISTANCE INT
	IF (LEN(@MAXID + 1) > LEN(@MAXID))	--	Trường hợp chữ số cuối cùng của đơn vị
		SET @DISTANCE = 7 - (LEN(@MAXID) + 1)
	ELSE
		SET @DISTANCE = 7 - LEN(@MAXID)
	
	---------------------------------
	DECLARE @RESULT VARCHAR(10)
	SET @RESULT = 'DVU' + REPLICATE('0', @DISTANCE) + CONVERT(VARCHAR, @MAXID + 1)
	
	RETURN @RESULT + CONVERT(VARCHAR, @MAXID + 1)
END

GO
/****** Object:  UserDefinedFunction [dbo].[FUNC__HOADON__GetNextID]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	FUNCTION	[dbo].[FUNC__HOADON__GetNextID]()
RETURNS	VARCHAR(15)
AS
BEGIN
	DECLARE @MAXID INT

	SELECT @MAXID = CONVERT(INT, MAX(SUBSTRING(MAHOADON, 7, LEN(MAHOADON) - 6)))
	FROM HOADON
	
	---------------------------------
	IF (@MAXID IS NULL)
		SET @MAXID = '0'
	
	
	DECLARE @DISTANCE INT
	IF (LEN(@MAXID + 1) > LEN(@MAXID))	--	Trường hợp chữ số cuối cùng của đơn vị
		SET @DISTANCE = 9 - (LEN(@MAXID) + 1)
	ELSE
		SET @DISTANCE = 9 - LEN(@MAXID)
	
	---------------------------------
	DECLARE @RESULT VARCHAR(15)
	SET @RESULT = 'HOADON' + REPLICATE('0', @DISTANCE) + CONVERT(VARCHAR, @MAXID + 1)
	
	RETURN @RESULT + CONVERT(VARCHAR, @MAXID + 1)
END

GO
/****** Object:  UserDefinedFunction [dbo].[FUNC__HOADON__TongTienDichVu]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	FUNCTION	[dbo].[FUNC__HOADON__TongTienDichVu] (@MAPHG	VARCHAR(10),
												  @THANG	INT,
												  @NAM	INT)
RETURNS INT
AS
BEGIN
	DECLARE @TOTAL INT
	
	SELECT @TOTAL = SUM(dv.GIADICHVU)
	FROM DICHVU_PHONG dp, DICHVU dv
	WHERE dp.MAPHG = @MAPHG
		AND dv.MADICHVU = dp.MADICHVU
		AND dv.TENDICHVU <> N'Tiền điện'
		AND dv.TENDICHVU <> N'Tiền nước'


	IF (@TOTAL IS NULL)
		SET @TOTAL = 0
		
	RETURN @TOTAL
END

GO
/****** Object:  UserDefinedFunction [dbo].[FUNC__HOADON__TongTienDien]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION	[dbo].[FUNC__HOADON__TongTienDien](@MAPHG VARCHAR(10), 
											   @THANG	INT, @NAM INT)
RETURNS INT
AS
BEGIN

	RETURN(
		SELECT hdn.GIADIEN*dbo.FUNC__HOADON_DIENNUOC__SoDienTieuThu(@MAPHG, @THANG, @NAM)
		FROM HOADON hd, HOADON_DIENNUOC hdn
		WHERE hd.MAPHG = @MAPHG
			AND hd.NAM = @NAM
			AND hd.THANG = @THANG
			AND hdn.MAHOADON = hd.MAHOADON)
END

GO
/****** Object:  UserDefinedFunction [dbo].[FUNC__HOADON__TongTienNuoc]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION	[dbo].[FUNC__HOADON__TongTienNuoc](@MAPHG VARCHAR(10), 
											   @THANG	INT, @NAM INT)
RETURNS INT
AS
BEGIN

	RETURN(
		SELECT hdn.GIANUOC*dbo.FUNC__HOADON_DIENNUOC__SoNuocTieuThu(@MAPHG, @THANG, @NAM)
		FROM HOADON hd, HOADON_DIENNUOC hdn
		WHERE hd.MAPHG = @MAPHG
			AND hd.NAM = @NAM
			AND hd.THANG = @THANG
			AND hdn.MAHOADON = hd.MAHOADON)
END

GO
/****** Object:  UserDefinedFunction [dbo].[FUNC__HOADON_DIENNUOC__SoDienTieuThu]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION	[dbo].[FUNC__HOADON_DIENNUOC__SoDienTieuThu](@MAPHG VARCHAR(10),
														 @THANG INT, @NAM INT)
RETURNS INT
AS
BEGIN
	DECLARE @THANGTRUOC	INT
	DECLARE @NAMTRUOC INT
	
	IF (@THANG - 1 = 0)
		BEGIN
			SET @THANGTRUOC = 12
			SET @NAMTRUOC = @NAM - 1
		END
	ELSE
		BEGIN
			SET @THANGTRUOC = @THANG - 1
			SET @NAMTRUOC = @NAM
		END
	
	
	DECLARE @SODIENTHANGNAY INT
	SELECT @SODIENTHANGNAY = hdn.SODIEN
	FROM PHONG p, HOADON hd, HOADON_DIENNUOC hdn
	WHERE hd.MAPHG = @MAPHG
		AND hd.NAM = @NAM
		AND hd.THANG = @THANG
		AND hdn.MAHOADON = hd.MAHOADON
	
	IF @SODIENTHANGNAY IS NULL
		RETURN CAST(N'Chưa nhập thông tin điện nước của tháng ' + 
		CONVERT(VARCHAR, @THANG) + N' năm ' + CONVERT(VARCHAR, @NAM)
		 + ' !' AS INT)
	
	
	DECLARE @SODIENTHANGTRUOC INT
	SELECT @SODIENTHANGTRUOC = hdn.SODIEN
	FROM HOADON hd, HOADON_DIENNUOC hdn
	WHERE hd.MAPHG = @MAPHG
		AND hd.THANG = @THANGTRUOC
		AND hd.NAM = @NAMTRUOC
		AND hdn.MAHOADON = hd.MAHOADON
		
		
	IF @SODIENTHANGTRUOC IS NULL
		SET @SODIENTHANGTRUOC = 0
		
	
	RETURN @SODIENTHANGNAY - @SODIENTHANGTRUOC
END
GO
/****** Object:  UserDefinedFunction [dbo].[FUNC__HOADON_DIENNUOC__SoNuocTieuThu]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION	[dbo].[FUNC__HOADON_DIENNUOC__SoNuocTieuThu](@MAPHG VARCHAR(10),
														 @THANG INT, @NAM INT)
RETURNS INT
AS
BEGIN
	
	DECLARE @SONUOCTHANGNAY INT
	SELECT @SONUOCTHANGNAY = hdn.SONUOC
	FROM PHONG p, HOADON hd, HOADON_DIENNUOC hdn
	WHERE hd.MAPHG = @MAPHG
		AND hd.NAM = @NAM
		AND hd.THANG = @THANG
		AND hdn.MAHOADON = hd.MAHOADON
	
	IF @SONUOCTHANGNAY IS NULL
		RETURN CAST(N'Chưa nhập thông tin điện nước của tháng ' + 
		CONVERT(VARCHAR, @THANG) + N' năm ' + CONVERT(VARCHAR, @NAM)
		 + ' !' AS INT)
	
	-----------------------------------------------------------------
	DECLARE @THANGTRUOC	INT
	DECLARE @NAMTRUOC INT
	
	IF (@THANG - 1 = 0)
		BEGIN
			SET @THANGTRUOC = 12
			SET @NAMTRUOC = @NAM - 1
		END
	ELSE
		BEGIN
			SET @THANGTRUOC = @THANG - 1
			SET @NAMTRUOC = @NAM
		END
	
	
	DECLARE @SONUOCTHANGTRUOC INT
	SELECT @SONUOCTHANGTRUOC = hdn.SONUOC
	FROM HOADON hd, HOADON_DIENNUOC hdn
	WHERE hd.MAPHG = @MAPHG
		AND hd.THANG = @THANGTRUOC
		AND hd.NAM = @NAMTRUOC
		AND hdn.MAHOADON = hd.MAHOADON
		
		
	IF @SONUOCTHANGTRUOC IS NULL
		SET @SONUOCTHANGTRUOC = 0
		
	
	RETURN @SONUOCTHANGNAY - @SONUOCTHANGTRUOC
END

GO
/****** Object:  UserDefinedFunction [dbo].[FUNC__HOPDONG__GetNextID]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------
CREATE FUNCTION	[dbo].[FUNC__HOPDONG__GetNextID]()
RETURNS	VARCHAR(10)
AS
BEGIN
	DECLARE @MAXID INT

	SELECT @MAXID = CONVERT(INT, MAX(SUBSTRING(MAHOPDONG, 3, LEN(MAHOPDONG) - 2)))
	FROM HOPDONG
	
	---------------------------------
	IF (@MAXID IS NULL)
		SET @MAXID = '0'
	
	
	DECLARE @DISTANCE INT
	IF (LEN(@MAXID + 1) > LEN(@MAXID))	--	Trường hợp chữ số cuối cùng của đơn vị
		SET @DISTANCE = 8 - (LEN(@MAXID) + 1)
	ELSE
		SET @DISTANCE = 8 - LEN(@MAXID)
	
	---------------------------------
	DECLARE @RESULT VARCHAR(10)
	SET @RESULT = 'HD' + REPLICATE('0', @DISTANCE) + CONVERT(VARCHAR, @MAXID + 1)
	
	RETURN @RESULT + CONVERT(VARCHAR, @MAXID + 1)
END

GO
/****** Object:  UserDefinedFunction [dbo].[FUNC__KHACH__GetNextID]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


------------------------------------------
CREATE	FUNCTION	[dbo].[FUNC__KHACH__GetNextID]()
RETURNS	VARCHAR(10)
AS
BEGIN
	DECLARE @MAXID INT

	SELECT @MAXID = CONVERT(INT, MAX(SUBSTRING(MAKHACH, 6, LEN(MAKHACH) - 5)))
	FROM KHACH
	
	---------------------------------
	IF (@MAXID IS NULL)
		SET @MAXID = '0'
	
	
	DECLARE @DISTANCE INT
	IF (LEN(@MAXID + 1) > LEN(@MAXID))	--	Trường hợp chữ số cuối cùng của đơn vị
		SET @DISTANCE = 5 - (LEN(@MAXID) + 1)
	ELSE
		SET @DISTANCE = 5 - LEN(@MAXID)
	
	---------------------------------
	DECLARE @RESULT VARCHAR(10)
	SET @RESULT = 'KHACH' + REPLICATE('0', @DISTANCE) + CONVERT(VARCHAR, @MAXID + 1)
	
	RETURN @RESULT + CONVERT(VARCHAR, @MAXID + 1)
END

GO
/****** Object:  UserDefinedFunction [dbo].[FUNC__KHU__GetNextID]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	FUNCTION	[dbo].[FUNC__KHU__GetNextID]()
RETURNS	VARCHAR(10)
AS
BEGIN
	DECLARE @MAXID INT

	SELECT @MAXID = CONVERT(INT, MAX(SUBSTRING(MAKHU, 4, LEN(MAKHU) - 3)))
	FROM KHU
	
	---------------------------------
	IF (@MAXID IS NULL)
		SET @MAXID = '0'
	
	
	DECLARE @DISTANCE INT
	IF (LEN(@MAXID + 1) > LEN(@MAXID))
		SET @DISTANCE = 7 - (LEN(@MAXID) + 1)
	ELSE
		SET @DISTANCE = 7 - LEN(@MAXID)
	
	---------------------------------
	DECLARE @RESULT VARCHAR(10)
	SET @RESULT = 'KHU' + REPLICATE('0', @DISTANCE) + CONVERT(VARCHAR, @MAXID + 1)
	
	RETURN @RESULT + CONVERT(VARCHAR, @MAXID + 1)
END
GO
/****** Object:  UserDefinedFunction [dbo].[FUNC__LOAIPHONG__GetNextID]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE	FUNCTION	[dbo].[FUNC__LOAIPHONG__GetNextID]()
RETURNS VARCHAR(15)
AS
BEGIN
	DECLARE @MAXID INT

	SELECT @MAXID = CONVERT(INT, MAX(SUBSTRING(MALOAIPHG, 10, LEN(MALOAIPHG) - 9)))
	FROM LOAIPHONG
	
	---------------------------------
	IF (@MAXID IS NULL)
		SET @MAXID = '0'
	
	
	DECLARE @DISTANCE INT
	IF (LEN(@MAXID + 1) > LEN(@MAXID))	--	Trường hợp chữ số cuối cùng của đơn vị
		SET @DISTANCE = 6 - (LEN(@MAXID) + 1)
	ELSE
		SET @DISTANCE = 6 - LEN(@MAXID)
	
	---------------------------------
	DECLARE @RESULT VARCHAR(15)
	SET @RESULT = 'LOAIPHONG' + REPLICATE('0', @DISTANCE) + CONVERT(VARCHAR, @MAXID + 1)
	
	RETURN @RESULT + CONVERT(VARCHAR, @MAXID + 1)
END
GO
/****** Object:  UserDefinedFunction [dbo].[FUNC__NOIQUY__GetNextID]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	FUNCTION	[dbo].[FUNC__NOIQUY__GetNextID]()
RETURNS	VARCHAR(10)
AS
BEGIN
	DECLARE @MAXID INT

	SELECT @MAXID = CONVERT(INT, MAX(SUBSTRING(MANOIQUY, 7, LEN(MANOIQUY) - 6)))
	FROM NOIQUY
	
	---------------------------------
	IF (@MAXID IS NULL)
		SET @MAXID = '0'
	
	
	DECLARE @DISTANCE INT
	IF (LEN(@MAXID + 1) > LEN(@MAXID))	--	Trường hợp chữ số cuối cùng của đơn vị
		SET @DISTANCE = 4 - (LEN(@MAXID) + 1)
	ELSE
		SET @DISTANCE = 4 - LEN(@MAXID)
	
	---------------------------------
	DECLARE @RESULT VARCHAR(10)
	SET @RESULT = 'NOIQUY' + REPLICATE('0', @DISTANCE) + CONVERT(VARCHAR, @MAXID + 1)
	
	RETURN @RESULT + CONVERT(VARCHAR, @MAXID + 1)
END

GO
/****** Object:  UserDefinedFunction [dbo].[FUNC__PHONG__GetNextID]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	FUNCTION	[dbo].[FUNC__PHONG__GetNextID]()
RETURNS VARCHAR(10)
AS
BEGIN
	DECLARE @MAXID INT

	SELECT @MAXID = CONVERT(INT, MAX(SUBSTRING(MAPHG, 4, LEN(MAPHG) - 3)))
	FROM PHONG
	
	---------------------------------
	IF (@MAXID IS NULL)
		SET @MAXID = '0'
	
	
	DECLARE @DISTANCE INT
	IF (LEN(@MAXID + 1) > LEN(@MAXID))	--	Trường hợp chữ số cuối cùng của đơn vị
		SET @DISTANCE = 7 - (LEN(@MAXID) + 1)
	ELSE
		SET @DISTANCE = 7 - LEN(@MAXID)
	
	---------------------------------
	DECLARE @RESULT VARCHAR(10)
	SET @RESULT = 'PHG' + REPLICATE('0', @DISTANCE) + CONVERT(VARCHAR, @MAXID + 1)
	
	RETURN @RESULT + CONVERT(VARCHAR, @MAXID + 1)
END
GO
/****** Object:  UserDefinedFunction [dbo].[FUNC__PHONG__IsReferenced]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---------------------------------------------------------------
CREATE FUNCTION	[dbo].[FUNC__PHONG__IsReferenced](@MAPHG VARCHAR(10))
RETURNS BIT
AS
BEGIN
	DECLARE @RESULT BIT
	DECLARE @COUNT INT
	SET @COUNT = 0
	
	
	SET @COUNT = @COUNT + (SELECT COUNT(MAPHG)
							FROM HOPDONG
							WHERE MAPHG = @MAPHG)
	
	SET @COUNT = @COUNT + (SELECT COUNT(MAPHG)
							FROM HOADON
							WHERE MAPHG = @MAPHG)
							
	SET @COUNT = @COUNT + (SELECT COUNT(MAPHG)
							FROM THIETBI_PHONG
							WHERE MAPHG = @MAPHG)
							
	SET @COUNT = @COUNT + (SELECT COUNT(MAPHG)
							FROM DICHVU_PHONG
							WHERE MAPHG = @MAPHG
								AND MADICHVU <> 'DVU0000001'
								AND MADICHVU <> 'DVU0000002')
	
	IF @COUNT > 0
		SET @RESULT = 'True'
	ELSE
		SET @RESULT = 'False'
	
	
	RETURN @RESULT
END
GO
/****** Object:  UserDefinedFunction [dbo].[FUNC__TANG__GetNextFloorName]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	FUNCTION	[dbo].[FUNC__TANG__GetNextFloorName](@MAKHU VARCHAR(10))
RETURNS NVARCHAR(15)
AS
BEGIN
	DECLARE @COUNT INT
	
	SELECT @COUNT = COUNT(MATANG)	--	Đếm số tầng của Khu hiện tại
	FROM TANG
	WHERE MAKHU = @MAKHU
	
	
	----------------------------------------------------------------
	DECLARE @RESULT NVARCHAR(15)
	
	IF @COUNT = 0					--	Khu chưa có tầng
		SET @RESULT = N'Tầng 1'
	ELSE
	BEGIN
		DECLARE @MAXFLOOR INT
		
		SELECT @MAXFLOOR = MAX(CONVERT(INT, SUBSTRING(TENTANG, 6, LEN(TENTANG) - 5)))
		FROM TANG
		WHERE MAKHU = @MAKHU
		
		SET @RESULT = N'Tầng ' + CONVERT(VARCHAR, @MAXFLOOR + 1)
	END
	
	
	RETURN @RESULT
END
GO
/****** Object:  UserDefinedFunction [dbo].[FUNC__TANG__GetNextID]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	FUNCTION	[dbo].[FUNC__TANG__GetNextID]()
RETURNS VARCHAR(10)
AS
BEGIN
	DECLARE @MAXID INT

	SELECT @MAXID = CONVERT(INT, MAX(SUBSTRING(MATANG, 5, LEN(MAKHU) - 4)))
	FROM TANG
	
	---------------------------------
	IF (@MAXID IS NULL)
		SET @MAXID = '0'
	
	
	DECLARE @DISTANCE INT
	IF (LEN(@MAXID + 1) > LEN(@MAXID))	--	Trường hợp chữ số cuối cùng của đơn vị
		SET @DISTANCE = 6 - (LEN(@MAXID) + 1)
	ELSE
		SET @DISTANCE = 6 - LEN(@MAXID)
	
	---------------------------------
	DECLARE @RESULT VARCHAR(10)
	SET @RESULT = 'TANG' + REPLICATE('0', @DISTANCE) + CONVERT(VARCHAR, @MAXID + 1)
	
	RETURN @RESULT + CONVERT(VARCHAR, @MAXID + 1)
END
GO
/****** Object:  UserDefinedFunction [dbo].[FUNC__THIETBI__GetNextID]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	FUNCTION	[dbo].[FUNC__THIETBI__GetNextID]()
RETURNS	VARCHAR(10)
AS
BEGIN
	DECLARE @MAXID INT

	SELECT @MAXID = CONVERT(INT, MAX(SUBSTRING(MATBI, 4, LEN(MATBI) - 3)))
	FROM THIETBI
	
	---------------------------------
	IF (@MAXID IS NULL)
		SET @MAXID = '0'
	
	
	DECLARE @DISTANCE INT
	IF (LEN(@MAXID + 1) > LEN(@MAXID))	--	Trường hợp chữ số cuối cùng của đơn vị
		SET @DISTANCE = 7 - (LEN(@MAXID) + 1)
	ELSE
		SET @DISTANCE = 7 - LEN(@MAXID)
	
	---------------------------------
	DECLARE @RESULT VARCHAR(10)
	SET @RESULT = 'TBI' + REPLICATE('0', @DISTANCE) + CONVERT(VARCHAR, @MAXID + 1)
	
	RETURN @RESULT + CONVERT(VARCHAR, @MAXID + 1)
END

GO
/****** Object:  UserDefinedFunction [dbo].[FUNC__VIPHAM__GetNextID]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	FUNCTION	[dbo].[FUNC__VIPHAM__GetNextID]()
RETURNS	VARCHAR(10)
AS
BEGIN
	DECLARE @MAXID INT

	SELECT @MAXID = CONVERT(INT, MAX(SUBSTRING(MAVIPHAM, 7, LEN(MAVIPHAM) - 6)))
	FROM VIPHAM
	
	---------------------------------
	IF (@MAXID IS NULL)
		SET @MAXID = '0'
	
	
	DECLARE @DISTANCE INT
	IF (LEN(@MAXID + 1) > LEN(@MAXID))	--	Trường hợp chữ số cuối cùng của đơn vị
		SET @DISTANCE = 4 - (LEN(@MAXID) + 1)
	ELSE
		SET @DISTANCE = 4 - LEN(@MAXID)
	
	---------------------------------
	DECLARE @RESULT VARCHAR(10)
	SET @RESULT = 'VIPHAM' + REPLICATE('0', @DISTANCE) + CONVERT(VARCHAR, @MAXID + 1)
	
	RETURN @RESULT + CONVERT(VARCHAR, @MAXID + 1)
END

GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MAPHG] [varchar](10) NOT NULL,
	[TENPHG] [nvarchar](15) NOT NULL,
	[SOLG_TOIDA] [int] NOT NULL,
	[SOLG_DANGO] [int] NOT NULL,
	[MATANG] [varchar](10) NOT NULL,
	[MALOAIPHG] [varchar](15) NOT NULL,
	[DANGSUACHUA] [bit] NOT NULL,
 CONSTRAINT [PK__PHONG] PRIMARY KEY CLUSTERED 
(
	[MAPHG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON_DICHVU]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON_DICHVU](
	[MAHOADON] [varchar](15) NOT NULL,
	[MADICHVU] [varchar](10) NOT NULL,
	[TENDICHVU] [nvarchar](20) NULL,
	[GIADICHVU] [int] NULL,
 CONSTRAINT [PK__HOADON_DICHVU] PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC,
	[MADICHVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHOADON] [varchar](15) NOT NULL,
	[MAPHG] [varchar](10) NOT NULL,
	[THANG] [int] NOT NULL,
	[NAM] [int] NOT NULL,
	[TIENPHONG] [int] NOT NULL,
	[DATHANHTOAN] [bit] NOT NULL,
 CONSTRAINT [PK__HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW__HOADON__GetList]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW__HOADON__GetList]
AS
	SELECT hd.MAHOADON, hd.MAPHG, p.TENPHG, hd.THANG, hd.NAM, hd.TIENPHONG,
			dbo.FUNC__HOADON__TongTienDichVu(hd.MAPHG, hd.THANG, hd.NAM) AS TIENDICHVU, 
			dbo.FUNC__HOADON__TongTienDien(hd.MAPHG, hd.THANG, hd.NAM) AS TIENDIEN,
			dbo.FUNC__HOADON__TongTienNuoc(hd.MAPHG, hd.THANG, hd.NAM) AS TIENNUOC,
			(hd.TIENPHONG + 
				dbo.FUNC__HOADON__TongTienDichVu(hd.MAPHG, hd.THANG, hd.NAM) + 
				dbo.FUNC__HOADON__TongTienDien(hd.MAPHG, hd.THANG, hd.NAM) +
				dbo.FUNC__HOADON__TongTienNuoc(hd.MAPHG, hd.THANG, hd.NAM)) AS TONGTIEN,
			hd.DATHANHTOAN
	FROM HOADON hd FULL OUTER JOIN HOADON_DICHVU hdv ON hdv.MAHOADON = hd.MAHOADON, PHONG p 
	WHERE p.MAPHG = hd.MAPHG
	GROUP BY hd.MAHOADON, hd.MAPHG, hd.THANG, hd.NAM, hd.TIENPHONG, hd.DATHANHTOAN, p.TENPHG

GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MADICHVU] [varchar](10) NOT NULL,
	[TENDICHVU] [nvarchar](20) NOT NULL,
	[GIADICHVU] [int] NOT NULL,
	[BATBUOC] [bit] NOT NULL,
 CONSTRAINT [PK__DICHVU] PRIMARY KEY CLUSTERED 
(
	[MADICHVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVU_PHONG]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU_PHONG](
	[MADICHVU] [varchar](10) NOT NULL,
	[MAPHG] [varchar](10) NOT NULL,
	[NGAYDANGKY] [datetime] NOT NULL,
 CONSTRAINT [PK__DICHVU_PHONG] PRIMARY KEY CLUSTERED 
(
	[MADICHVU] ASC,
	[MAPHG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON_DIENNUOC]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON_DIENNUOC](
	[MAHOADON] [varchar](15) NOT NULL,
	[GIADIEN] [int] NOT NULL,
	[GIANUOC] [int] NOT NULL,
	[SODIEN] [int] NOT NULL,
	[SONUOC] [int] NOT NULL,
 CONSTRAINT [PK__HOADON_DIENNUOC] PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOPDONG]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPDONG](
	[MAHOPDONG] [varchar](10) NOT NULL,
	[MAPHG] [varchar](10) NOT NULL,
	[THOIHAN] [int] NOT NULL,
	[THOIGIANTAO] [datetime] NOT NULL,
	[TRANGTHAI] [nvarchar](15) NOT NULL,
	[TIENCOC] [int] NOT NULL,
	[DATRACOC] [bit] NOT NULL,
 CONSTRAINT [PK__HOPDONG] PRIMARY KEY CLUSTERED 
(
	[MAHOPDONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH](
	[MAKHACH] [varchar](10) NOT NULL,
	[HO] [nvarchar](10) NOT NULL,
	[TEN] [nvarchar](30) NOT NULL,
	[GIOITINH] [nvarchar](10) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[QUEQUAN] [nvarchar](75) NOT NULL,
	[SOCANCUOC] [varchar](20) NOT NULL,
	[SODIENTHOAI] [varchar](15) NULL,
	[TRANGTHAI] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK__KHACH] PRIMARY KEY CLUSTERED 
(
	[MAKHACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HOPDONG]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HOPDONG](
	[MAHOPDONG] [varchar](10) NOT NULL,
	[MAKHACH] [varchar](10) NOT NULL,
 CONSTRAINT [PK__KHACH_HOPDONG] PRIMARY KEY CLUSTERED 
(
	[MAKHACH] ASC,
	[MAHOPDONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_VIPHAM]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_VIPHAM](
	[MAKHACH] [varchar](10) NOT NULL,
	[MAVIPHAM] [varchar](10) NOT NULL,
	[THOIGIANVIPHAM] [datetime] NOT NULL,
	[GHICHU] [nvarchar](75) NOT NULL,
	[DAGIAIQUYET] [bit] NOT NULL,
 CONSTRAINT [PK__KHACH_VIPHAM] PRIMARY KEY CLUSTERED 
(
	[MAKHACH] ASC,
	[MAVIPHAM] ASC,
	[THOIGIANVIPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHU]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHU](
	[MAKHU] [varchar](10) NOT NULL,
	[TENKHU] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK__KHU] PRIMARY KEY CLUSTERED 
(
	[MAKHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MALOAIPHG] [varchar](15) NOT NULL,
	[TENLOAIPHG] [nvarchar](15) NOT NULL,
	[GIAPHG] [int] NOT NULL,
 CONSTRAINT [PK__LOAIPHONG] PRIMARY KEY CLUSTERED 
(
	[MALOAIPHG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[TENDN] [varchar](30) NOT NULL,
	[MATKHAU] [varchar](100) NOT NULL,
	[HO] [nvarchar](10) NOT NULL,
	[TEN] [nvarchar](30) NOT NULL,
	[DANGNHAPLANDAU] [bit] NOT NULL,
 CONSTRAINT [PK__NGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[TENDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TANG]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TANG](
	[MATANG] [varchar](10) NOT NULL,
	[TENTANG] [nvarchar](15) NOT NULL,
	[MAKHU] [varchar](10) NOT NULL,
 CONSTRAINT [PK__TANG] PRIMARY KEY CLUSTERED 
(
	[MATANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THIETBI]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THIETBI](
	[MATBI] [varchar](10) NOT NULL,
	[TENTBI] [nvarchar](25) NOT NULL,
	[GIATBI] [int] NOT NULL,
	[NGAYNHAP] [date] NOT NULL,
	[SOLG_PHANBO] [int] NOT NULL,
	[SOLG_TON] [int] NOT NULL,
 CONSTRAINT [PK__THIETBI] PRIMARY KEY CLUSTERED 
(
	[MATBI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THIETBI_PHONG]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THIETBI_PHONG](
	[MATBI] [varchar](10) NOT NULL,
	[MAPHG] [varchar](10) NOT NULL,
	[THOIGIANCAP] [datetime] NOT NULL,
 CONSTRAINT [PK__THIETBI_PHONG] PRIMARY KEY CLUSTERED 
(
	[MAPHG] ASC,
	[MATBI] ASC,
	[THOIGIANCAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VIPHAM]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIPHAM](
	[MAVIPHAM] [varchar](10) NOT NULL,
	[NOIDUNG] [nvarchar](75) NOT NULL,
	[HINHPHAT] [nvarchar](75) NOT NULL,
 CONSTRAINT [PK__VIPHAM] PRIMARY KEY CLUSTERED 
(
	[MAVIPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DICHVU] ([MADICHVU], [TENDICHVU], [GIADICHVU], [BATBUOC]) VALUES (N'DVU0000001', N'Tiền điện', 1500, 1)
INSERT [dbo].[DICHVU] ([MADICHVU], [TENDICHVU], [GIADICHVU], [BATBUOC]) VALUES (N'DVU0000002', N'Tiền nước', 2500, 1)
INSERT [dbo].[DICHVU] ([MADICHVU], [TENDICHVU], [GIADICHVU], [BATBUOC]) VALUES (N'DVU0000003', N'Dọn vệ sinh', 10000, 1)
GO
INSERT [dbo].[DICHVU_PHONG] ([MADICHVU], [MAPHG], [NGAYDANGKY]) VALUES (N'DVU0000001', N'PHG0000001', CAST(N'2024-04-18T18:37:21.693' AS DateTime))
INSERT [dbo].[DICHVU_PHONG] ([MADICHVU], [MAPHG], [NGAYDANGKY]) VALUES (N'DVU0000001', N'PHG0000004', CAST(N'2024-04-18T22:10:36.150' AS DateTime))
INSERT [dbo].[DICHVU_PHONG] ([MADICHVU], [MAPHG], [NGAYDANGKY]) VALUES (N'DVU0000001', N'PHG0000005', CAST(N'2024-04-18T00:50:11.000' AS DateTime))
GO
INSERT [dbo].[HOADON] ([MAHOADON], [MAPHG], [THANG], [NAM], [TIENPHONG], [DATHANHTOAN]) VALUES (N'HOADON000000002', N'PHG0000006', 4, 2024, 3000000, 1)
INSERT [dbo].[HOADON] ([MAHOADON], [MAPHG], [THANG], [NAM], [TIENPHONG], [DATHANHTOAN]) VALUES (N'HOADON000000005', N'PHG0000009', 4, 2024, 1500000, 0)
INSERT [dbo].[HOADON] ([MAHOADON], [MAPHG], [THANG], [NAM], [TIENPHONG], [DATHANHTOAN]) VALUES (N'HOADON000000006', N'PHG0000005', 4, 2024, 1500000, 1)
GO
INSERT [dbo].[HOADON_DICHVU] ([MAHOADON], [MADICHVU], [TENDICHVU], [GIADICHVU]) VALUES (N'HOADON000000002', N'DVU0000004', N'Wi - Fi', 50000)
INSERT [dbo].[HOADON_DICHVU] ([MAHOADON], [MADICHVU], [TENDICHVU], [GIADICHVU]) VALUES (N'HOADON000000002', N'DVU0000006', N'Giữ xe', 15000)
INSERT [dbo].[HOADON_DICHVU] ([MAHOADON], [MADICHVU], [TENDICHVU], [GIADICHVU]) VALUES (N'HOADON000000005', N'DVU0000006', N'Giữ xe', 15000)
GO
INSERT [dbo].[HOADON_DIENNUOC] ([MAHOADON], [GIADIEN], [GIANUOC], [SODIEN], [SONUOC]) VALUES (N'HOADON000000002', 1500, 2500, 21, 20)
INSERT [dbo].[HOADON_DIENNUOC] ([MAHOADON], [GIADIEN], [GIANUOC], [SODIEN], [SONUOC]) VALUES (N'HOADON000000005', 1500, 2500, 10, 8)
INSERT [dbo].[HOADON_DIENNUOC] ([MAHOADON], [GIADIEN], [GIANUOC], [SODIEN], [SONUOC]) VALUES (N'HOADON000000006', 1500, 2500, 0, 0)
GO
INSERT [dbo].[HOPDONG] ([MAHOPDONG], [MAPHG], [THOIHAN], [THOIGIANTAO], [TRANGTHAI], [TIENCOC], [DATRACOC]) VALUES (N'HD00000001', N'PHG0000010', 1, CAST(N'2024-04-18T14:48:57.053' AS DateTime), N'Có hiệu lực', 0, 1)
INSERT [dbo].[HOPDONG] ([MAHOPDONG], [MAPHG], [THOIHAN], [THOIGIANTAO], [TRANGTHAI], [TIENCOC], [DATRACOC]) VALUES (N'HD00000003', N'PHG0000007', 36, CAST(N'2024-04-18T14:53:54.737' AS DateTime), N'Có hiệu lực', 800000, 0)
INSERT [dbo].[HOPDONG] ([MAHOPDONG], [MAPHG], [THOIHAN], [THOIGIANTAO], [TRANGTHAI], [TIENCOC], [DATRACOC]) VALUES (N'HD00000004', N'PHG0000005', 8, CAST(N'2024-04-18T18:37:36.723' AS DateTime), N'Có hiệu lực', 600000, 0)
GO
INSERT [dbo].[KHACH] ([MAKHACH], [HO], [TEN], [GIOITINH], [NGAYSINH], [QUEQUAN], [SOCANCUOC], [SODIENTHOAI], [TRANGTHAI]) VALUES (N'KHACH00001', N'n', N'at', N'Nam', CAST(N'2024-04-18' AS Date), N'th', N'0', N'', N'Đang ở')
INSERT [dbo].[KHACH] ([MAKHACH], [HO], [TEN], [GIOITINH], [NGAYSINH], [QUEQUAN], [SOCANCUOC], [SODIENTHOAI], [TRANGTHAI]) VALUES (N'KHACH00002', N'l', N'vk', N'Nam', CAST(N'2024-04-18' AS Date), N'th', N'1', N'', N'Đang ở')
INSERT [dbo].[KHACH] ([MAKHACH], [HO], [TEN], [GIOITINH], [NGAYSINH], [QUEQUAN], [SOCANCUOC], [SODIENTHOAI], [TRANGTHAI]) VALUES (N'KHACH00003', N'l', N'dn', N'Nam', CAST(N'2024-04-18' AS Date), N'th', N'23', N'', N'Đang ở')
GO
INSERT [dbo].[KHACH_HOPDONG] ([MAHOPDONG], [MAKHACH]) VALUES (N'HD00000001', N'KHACH00001')
INSERT [dbo].[KHACH_HOPDONG] ([MAHOPDONG], [MAKHACH]) VALUES (N'HD00000004', N'KHACH00002')
INSERT [dbo].[KHACH_HOPDONG] ([MAHOPDONG], [MAKHACH]) VALUES (N'HD00000001', N'KHACH00003')
GO
INSERT [dbo].[KHU] ([MAKHU], [TENKHU]) VALUES (N'KHU0000002', N'Khu A')
INSERT [dbo].[KHU] ([MAKHU], [TENKHU]) VALUES (N'KHU0000004', N'Khu B')
INSERT [dbo].[KHU] ([MAKHU], [TENKHU]) VALUES (N'KHU0000005', N'Khu C')
GO
INSERT [dbo].[LOAIPHONG] ([MALOAIPHG], [TENLOAIPHG], [GIAPHG]) VALUES (N'LOAIPHONG000001', N'Sinh viên', 1500000)
INSERT [dbo].[LOAIPHONG] ([MALOAIPHG], [TENLOAIPHG], [GIAPHG]) VALUES (N'LOAIPHONG000002', N'Công nhân', 3000000)
INSERT [dbo].[LOAIPHONG] ([MALOAIPHG], [TENLOAIPHG], [GIAPHG]) VALUES (N'LOAIPHONG000003', N'Gia đình', 5640000)
GO
INSERT [dbo].[NGUOIDUNG] ([TENDN], [MATKHAU], [HO], [TEN], [DANGNHAPLANDAU]) VALUES (N'admin', N'admin', N'Minh', N'Dũng', 1)
GO
INSERT [dbo].[PHONG] ([MAPHG], [TENPHG], [SOLG_TOIDA], [SOLG_DANGO], [MATANG], [MALOAIPHG], [DANGSUACHUA]) VALUES (N'PHG0000001', N'B100', 7, 0, N'TANG000059', N'LOAIPHONG000001', 0)
INSERT [dbo].[PHONG] ([MAPHG], [TENPHG], [SOLG_TOIDA], [SOLG_DANGO], [MATANG], [MALOAIPHG], [DANGSUACHUA]) VALUES (N'PHG0000004', N'C101', 8, 0, N'TANG000062', N'LOAIPHONG000003', 0)
INSERT [dbo].[PHONG] ([MAPHG], [TENPHG], [SOLG_TOIDA], [SOLG_DANGO], [MATANG], [MALOAIPHG], [DANGSUACHUA]) VALUES (N'PHG0000005', N'C102', 5, 2, N'TANG000062', N'LOAIPHONG000001', 0)
GO
INSERT [dbo].[TANG] ([MATANG], [TENTANG], [MAKHU]) VALUES (N'TANG000023', N'Tầng 1', N'KHU0000002')
INSERT [dbo].[TANG] ([MATANG], [TENTANG], [MAKHU]) VALUES (N'TANG000059', N'Tầng 1', N'KHU0000004')
INSERT [dbo].[TANG] ([MATANG], [TENTANG], [MAKHU]) VALUES (N'TANG000061', N'Tầng 2', N'KHU0000004')
GO
INSERT [dbo].[THIETBI] ([MATBI], [TENTBI], [GIATBI], [NGAYNHAP], [SOLG_PHANBO], [SOLG_TON]) VALUES (N'TBI0000001', N'Quạt trần', 2500000, CAST(N'2024-04-18' AS Date), 9, 17)
INSERT [dbo].[THIETBI] ([MATBI], [TENTBI], [GIATBI], [NGAYNHAP], [SOLG_PHANBO], [SOLG_TON]) VALUES (N'TBI0000002', N'Giường đôi', 5000000, CAST(N'2024-04-18' AS Date), 19, 1)
INSERT [dbo].[THIETBI] ([MATBI], [TENTBI], [GIATBI], [NGAYNHAP], [SOLG_PHANBO], [SOLG_TON]) VALUES (N'TBI0000003', N'Tủ lạnh', 5400000, CAST(N'2024-04-18' AS Date), 8, 12)
GO
INSERT [dbo].[THIETBI_PHONG] ([MATBI], [MAPHG], [THOIGIANCAP]) VALUES (N'TBI0000001', N'PHG0000001', CAST(N'2024-04-18T03:04:32.927' AS DateTime))
INSERT [dbo].[THIETBI_PHONG] ([MATBI], [MAPHG], [THOIGIANCAP]) VALUES (N'TBI0000002', N'PHG0000001', CAST(N'2024-04-18T03:04:28.780' AS DateTime))
INSERT [dbo].[THIETBI_PHONG] ([MATBI], [MAPHG], [THOIGIANCAP]) VALUES (N'TBI0000002', N'PHG0000001', CAST(N'2024-04-18T03:40:58.913' AS DateTime))
GO
INSERT [dbo].[VIPHAM] ([MAVIPHAM], [NOIDUNG], [HINHPHAT]) VALUES (N'VIPHAM0002', N'Tàng trữ chất gây cháy nổ', N'Bắt nổ tại chỗ')
INSERT [dbo].[VIPHAM] ([MAVIPHAM], [NOIDUNG], [HINHPHAT]) VALUES (N'VIPHAM0003', N'Mở nhạc lớn gây ồn', N'Vote đập loa')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN__DICHVU__TENDICHVU]    Script Date: 4/18/2024 5:59:06 PM ******/
ALTER TABLE [dbo].[DICHVU] ADD  CONSTRAINT [UN__DICHVU__TENDICHVU] UNIQUE NONCLUSTERED 
(
	[TENDICHVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN__HOADON]    Script Date: 4/18/2024 5:59:06 PM ******/
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [UN__HOADON] UNIQUE NONCLUSTERED 
(
	[MAPHG] ASC,
	[THANG] ASC,
	[NAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN__KHACH__SOCANCUOC]    Script Date: 4/18/2024 5:59:06 PM ******/
ALTER TABLE [dbo].[KHACH] ADD  CONSTRAINT [UN__KHACH__SOCANCUOC] UNIQUE NONCLUSTERED 
(
	[SOCANCUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN__KHU]    Script Date: 4/18/2024 5:59:06 PM ******/
ALTER TABLE [dbo].[KHU] ADD  CONSTRAINT [UN__KHU] UNIQUE NONCLUSTERED 
(
	[TENKHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN__LOAIPHONG]    Script Date: 4/18/2024 5:59:06 PM ******/
ALTER TABLE [dbo].[LOAIPHONG] ADD  CONSTRAINT [UN__LOAIPHONG] UNIQUE NONCLUSTERED 
(
	[TENLOAIPHG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN__PHONG__TENPHG]    Script Date: 4/18/2024 5:59:06 PM ******/
ALTER TABLE [dbo].[PHONG] ADD  CONSTRAINT [UN__PHONG__TENPHG] UNIQUE NONCLUSTERED 
(
	[TENPHG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN__THIETBI]    Script Date: 4/18/2024 5:59:06 PM ******/
ALTER TABLE [dbo].[THIETBI] ADD  CONSTRAINT [UN__THIETBI] UNIQUE NONCLUSTERED 
(
	[TENTBI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN__VIPHAM__NOIDUNG]    Script Date: 4/18/2024 5:59:06 PM ******/
ALTER TABLE [dbo].[VIPHAM] ADD  CONSTRAINT [UN__VIPHAM__NOIDUNG] UNIQUE NONCLUSTERED 
(
	[NOIDUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DICHVU] ADD  DEFAULT ('False') FOR [BATBUOC]
GO
ALTER TABLE [dbo].[DICHVU_PHONG] ADD  DEFAULT (getdate()) FOR [NGAYDANGKY]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ('False') FOR [DATHANHTOAN]
GO
ALTER TABLE [dbo].[HOPDONG] ADD  DEFAULT (getdate()) FOR [THOIGIANTAO]
GO
ALTER TABLE [dbo].[HOPDONG] ADD  DEFAULT (N'Có hiệu lực') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[HOPDONG] ADD  DEFAULT ((0)) FOR [TIENCOC]
GO
ALTER TABLE [dbo].[HOPDONG] ADD  DEFAULT ('False') FOR [DATRACOC]
GO
ALTER TABLE [dbo].[KHACH] ADD  DEFAULT (N'Không biết') FOR [GIOITINH]
GO
ALTER TABLE [dbo].[KHACH] ADD  DEFAULT (N'Đang ở') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[KHACH_VIPHAM] ADD  DEFAULT (getdate()) FOR [THOIGIANVIPHAM]
GO
ALTER TABLE [dbo].[KHACH_VIPHAM] ADD  DEFAULT ('False') FOR [DAGIAIQUYET]
GO
ALTER TABLE [dbo].[NGUOIDUNG] ADD  DEFAULT ('True') FOR [DANGNHAPLANDAU]
GO
ALTER TABLE [dbo].[PHONG] ADD  DEFAULT ((0)) FOR [SOLG_DANGO]
GO
ALTER TABLE [dbo].[PHONG] ADD  DEFAULT ('False') FOR [DANGSUACHUA]
GO
ALTER TABLE [dbo].[THIETBI] ADD  DEFAULT (getdate()) FOR [NGAYNHAP]
GO
ALTER TABLE [dbo].[THIETBI] ADD  DEFAULT ((0)) FOR [SOLG_PHANBO]
GO
ALTER TABLE [dbo].[THIETBI_PHONG] ADD  DEFAULT (getdate()) FOR [THOIGIANCAP]
GO
ALTER TABLE [dbo].[DICHVU_PHONG]  WITH CHECK ADD  CONSTRAINT [FK__DICHVU_PHONG__MADICHVU] FOREIGN KEY([MADICHVU])
REFERENCES [dbo].[DICHVU] ([MADICHVU])
GO
ALTER TABLE [dbo].[DICHVU_PHONG] CHECK CONSTRAINT [FK__DICHVU_PHONG__MADICHVU]
GO
ALTER TABLE [dbo].[DICHVU_PHONG]  WITH CHECK ADD  CONSTRAINT [FK__DICHVU_PHONG__MAPHONG] FOREIGN KEY([MAPHG])
REFERENCES [dbo].[PHONG] ([MAPHG])
GO
ALTER TABLE [dbo].[DICHVU_PHONG] CHECK CONSTRAINT [FK__DICHVU_PHONG__MAPHONG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK__HOADON__MAPHG] FOREIGN KEY([MAPHG])
REFERENCES [dbo].[PHONG] ([MAPHG])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK__HOADON__MAPHG]
GO
ALTER TABLE [dbo].[HOADON_DICHVU]  WITH CHECK ADD  CONSTRAINT [FK__HOADON_DICHVU__MAHOADON] FOREIGN KEY([MAHOADON])
REFERENCES [dbo].[HOADON] ([MAHOADON])
GO
ALTER TABLE [dbo].[HOADON_DICHVU] CHECK CONSTRAINT [FK__HOADON_DICHVU__MAHOADON]
GO
ALTER TABLE [dbo].[HOADON_DIENNUOC]  WITH CHECK ADD  CONSTRAINT [FK__HOADON_DIENNUOC__MAHOADON] FOREIGN KEY([MAHOADON])
REFERENCES [dbo].[HOADON] ([MAHOADON])
GO
ALTER TABLE [dbo].[HOADON_DIENNUOC] CHECK CONSTRAINT [FK__HOADON_DIENNUOC__MAHOADON]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK__HOPDONG__MAPHONG] FOREIGN KEY([MAPHG])
REFERENCES [dbo].[PHONG] ([MAPHG])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK__HOPDONG__MAPHONG]
GO
ALTER TABLE [dbo].[KHACH_HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK__KHACH_HOPDONG__MAHOPDONG] FOREIGN KEY([MAHOPDONG])
REFERENCES [dbo].[HOPDONG] ([MAHOPDONG])
GO
ALTER TABLE [dbo].[KHACH_HOPDONG] CHECK CONSTRAINT [FK__KHACH_HOPDONG__MAHOPDONG]
GO
ALTER TABLE [dbo].[KHACH_HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK__KHACH_HOPDONG__MAKHACH] FOREIGN KEY([MAKHACH])
REFERENCES [dbo].[KHACH] ([MAKHACH])
GO
ALTER TABLE [dbo].[KHACH_HOPDONG] CHECK CONSTRAINT [FK__KHACH_HOPDONG__MAKHACH]
GO
ALTER TABLE [dbo].[KHACH_VIPHAM]  WITH CHECK ADD  CONSTRAINT [FK__KHACH_VIPHAM__MAKHACH] FOREIGN KEY([MAKHACH])
REFERENCES [dbo].[KHACH] ([MAKHACH])
GO
ALTER TABLE [dbo].[KHACH_VIPHAM] CHECK CONSTRAINT [FK__KHACH_VIPHAM__MAKHACH]
GO
ALTER TABLE [dbo].[KHACH_VIPHAM]  WITH CHECK ADD  CONSTRAINT [FK__KHACH_VIPHAM__MAVIPHAM] FOREIGN KEY([MAVIPHAM])
REFERENCES [dbo].[VIPHAM] ([MAVIPHAM])
GO
ALTER TABLE [dbo].[KHACH_VIPHAM] CHECK CONSTRAINT [FK__KHACH_VIPHAM__MAVIPHAM]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK__PHONG__MALOAIPHG] FOREIGN KEY([MALOAIPHG])
REFERENCES [dbo].[LOAIPHONG] ([MALOAIPHG])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK__PHONG__MALOAIPHG]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK__PHONG__MATANG] FOREIGN KEY([MATANG])
REFERENCES [dbo].[TANG] ([MATANG])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK__PHONG__MATANG]
GO
ALTER TABLE [dbo].[TANG]  WITH CHECK ADD  CONSTRAINT [FK__TANG__MAKHU] FOREIGN KEY([MAKHU])
REFERENCES [dbo].[KHU] ([MAKHU])
GO
ALTER TABLE [dbo].[TANG] CHECK CONSTRAINT [FK__TANG__MAKHU]
GO
ALTER TABLE [dbo].[THIETBI_PHONG]  WITH CHECK ADD  CONSTRAINT [FK__THIETBI_PHONG__MAPHG] FOREIGN KEY([MAPHG])
REFERENCES [dbo].[PHONG] ([MAPHG])
GO
ALTER TABLE [dbo].[THIETBI_PHONG] CHECK CONSTRAINT [FK__THIETBI_PHONG__MAPHG]
GO
ALTER TABLE [dbo].[THIETBI_PHONG]  WITH CHECK ADD  CONSTRAINT [FK__THIETBI_PHONG__MATBI] FOREIGN KEY([MATBI])
REFERENCES [dbo].[THIETBI] ([MATBI])
GO
ALTER TABLE [dbo].[THIETBI_PHONG] CHECK CONSTRAINT [FK__THIETBI_PHONG__MATBI]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [CK__HOPDONG__TRANGTHAI] CHECK  (([TRANGTHAI]=N'Hết hiệu lực' OR [TRANGTHAI]=N'Có hiệu lực'))
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [CK__HOPDONG__TRANGTHAI]
GO
ALTER TABLE [dbo].[KHACH]  WITH CHECK ADD  CONSTRAINT [CK__KHACH__GIOITINH] CHECK  (([GIOITINH]=N'Không biết' OR [GIOITINH]=N'Khác' OR [GIOITINH]=N'Nữ' OR [GIOITINH]=N'Nam'))
GO
ALTER TABLE [dbo].[KHACH] CHECK CONSTRAINT [CK__KHACH__GIOITINH]
GO
ALTER TABLE [dbo].[KHACH]  WITH CHECK ADD  CONSTRAINT [CK__KHACH__TRANGTHAI] CHECK  (([TRANGTHAI]=N'Hết hợp đồng' OR [TRANGTHAI]=N'' OR [TRANGTHAI]=N'Tạm vắng' OR [TRANGTHAI]=N'Đang ở'))
GO
ALTER TABLE [dbo].[KHACH] CHECK CONSTRAINT [CK__KHACH__TRANGTHAI]
GO
/****** Object:  StoredProcedure [dbo].[PROC__DICHVU__DELETE]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[PROC__DICHVU__DELETE]
@MADICHVU		VARCHAR(10)
AS
BEGIN
	DELETE FROM DICHVU
	WHERE MADICHVU = @MADICHVU
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__DICHVU__INSERT]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[PROC__DICHVU__INSERT]
@TENDICHVU		NVARCHAR(20),
@GIADICHVU		INT,
@BATBUOC		BIT
AS
BEGIN
	DECLARE @NEXTID VARCHAR(10)
	SELECT @NEXTID = dbo.FUNC__DICHVU__GetNextID()	--	Tự động lấy mã tiếp theo
	
	INSERT INTO DICHVU(MADICHVU, TENDICHVU, GIADICHVU, BATBUOC)
	VALUES (@NEXTID, @TENDICHVU, @GIADICHVU, @BATBUOC)
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__DICHVU__IsReferenced]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[PROC__DICHVU__IsReferenced]
@MADICHVU	VARCHAR(10)
AS
BEGIN
	SELECT COUNT(MADICHVU)
	FROM DICHVU_PHONG
	WHERE MADICHVU = @MADICHVU
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__DICHVU__LayThongTinDienNuoc]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[PROC__DICHVU__LayThongTinDienNuoc]
AS
BEGIN
	SELECT *
	FROM DICHVU
	WHERE TENDICHVU = N'Tiền điện'
		OR TENDICHVU = N'Tiền nước'
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__DICHVU__UPDATE]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[PROC__DICHVU__UPDATE]
@MADICHVU		VARCHAR(10),
@TENDICHVU		NVARCHAR(20),
@GIADICHVU		INT,
@BATBUOC		BIT
AS
BEGIN
	UPDATE	DICHVU
	SET TENDICHVU = @TENDICHVU,
		GIADICHVU = @GIADICHVU,
		BATBUOC = @BATBUOC
	WHERE MADICHVU = @MADICHVU
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__DICHVU_PHONG__DELETE]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[PROC__DICHVU_PHONG__DELETE]
@MADICHVU	VARCHAR(10),
@MAPHG		VARCHAR(10)
AS
BEGIN
	DELETE FROM DICHVU_PHONG
	WHERE MADICHVU = @MADICHVU
		AND MAPHG = @MAPHG
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__DICHVU_PHONG__GetListByRoomID]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE	PROC	[dbo].[PROC__DICHVU_PHONG__GetListByRoomID]
@MAPHG VARCHAR(10)
AS
BEGIN
	SELECT dp.*, dv.TENDICHVU, dv.GIADICHVU, dv.BATBUOC
	FROM DICHVU_PHONG dp, DICHVU dv
	WHERE dp.MAPHG = @MAPHG
		AND dv.MADICHVU = dp.MADICHVU
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__DICHVU_PHONG__GetListOtherServicesByRoomID]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[PROC__DICHVU_PHONG__GetListOtherServicesByRoomID]
@MAPHG VARCHAR(10)
AS
BEGIN
	SELECT dp.*, dv.TENDICHVU, dv.GIADICHVU, dv.BATBUOC
	FROM DICHVU_PHONG dp, DICHVU dv
	WHERE dp.MAPHG = @MAPHG
		AND dv.MADICHVU = dp.MADICHVU
		AND dv.TENDICHVU <> N'Tiền điện'
		AND dv.TENDICHVU <> N'Tiền nước'
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__DICHVU_PHONG__INSERT]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[PROC__DICHVU_PHONG__INSERT]
@MADICHVU	VARCHAR(10),
@MAPHG		VARCHAR(10)
AS
BEGIN
	INSERT INTO DICHVU_PHONG(MADICHVU, MAPHG)
	VALUES(@MADICHVU, @MAPHG)
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__HOADON__DELETE]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[PROC__HOADON__DELETE]
@MAHOADON	VARCHAR(15)
AS
BEGIN
	DELETE FROM HOADON_DIENNUOC
	WHERE MAHOADON = @MAHOADON
	
	DELETE FROM HOADON_DICHVU
	WHERE MAHOADON = @MAHOADON
	
	DELETE FROM HOADON
	WHERE MAHOADON = @MAHOADON
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__HOADON__INSERT]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE	PROC	[dbo].[PROC__HOADON__INSERT]
@#MAPHG		VARCHAR(10),
@#THANG		INT,
@#NAM		INT,
@#SODIEN		INT,
@#SONUOC		INT
AS
BEGIN
	DECLARE @#MAHOADON VARCHAR(15)
	SELECT @#MAHOADON = dbo.FUNC__HOADON__GetNextID()
	
	DECLARE @#TIENPHG INT
	SELECT @#TIENPHG = lp.GIAPHG
	FROM PHONG p, LOAIPHONG lp
	WHERE p.MAPHG = @#MAPHG
		AND lp.MALOAIPHG = p.MALOAIPHG
	
	INSERT INTO HOADON(MAHOADON, MAPHG, THANG, NAM, TIENPHONG)
	VALUES (@#MAHOADON, @#MAPHG, @#THANG, @#NAM, @#TIENPHG)
	
	EXEC PROC__HOADON_DICHVU__INSERT
	@MAHOADON = @#MAHOADON
	
	EXEC PROC__HOADON_DIENNUOC__INSERT
	@MAHOADON = @#MAHOADON,
	@SODIEN = @#SODIEN,
	@SONUOC = @#SONUOC
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__HOADON__PAY]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[PROC__HOADON__PAY]
@MAHOADON	VARCHAR(15)
AS
BEGIN
	UPDATE HOADON
	SET DATHANHTOAN = 'True'
	WHERE MAHOADON = @MAHOADON
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__HOADON__PhongDaGhiHoaDon]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[PROC__HOADON__PhongDaGhiHoaDon]
@MAPHG	VARCHAR(10),
@THANG	INT,
@NAM	INT
AS
BEGIN
	SELECT COUNT(*)
	FROM HOADON
	WHERE MAPHG = @MAPHG
		AND THANG = @THANG
		AND NAM = @NAM
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__HOADON_DICHVU__INSERT]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[PROC__HOADON_DICHVU__INSERT]
@MAHOADON	VARCHAR(15)
AS
BEGIN
	DECLARE @MAPHG VARCHAR(10)
	SELECT @MAPHG = MAX(MAPHG)		--	Lấy ra mã phòng của hoá đơn
	FROM HOADON
	WHERE MAHOADON = @MAHOADON
	
	
	---------------------------------------------------------
	SELECT p.MAPHG, dv.MADICHVU, dv.TENDICHVU, dv.GIADICHVU
	INTO #TEMP
	FROM PHONG p, DICHVU_PHONG dp, DICHVU dv
	WHERE p.MAPHG = @MAPHG
		AND dp.MAPHG = p.MAPHG
		AND dv.MADICHVU = dp.MADICHVU
		AND ((dv.TENDICHVU <> N'Tiền điện') 
			AND (dv.TENDICHVU <> N'Tiền nước'))
		
	
	---------------------------------------------------------
	WHILE (SELECT COUNT(*) FROM #TEMP) > 0
	BEGIN
		DECLARE @#MAPHG VARCHAR(10)
		DECLARE @#MADVU	VARCHAR(10)
		DECLARE @#TENDVU NVARCHAR(20)
		DECLARE @#GIADVU INT
		
		
		SELECT TOP 1 @#MAPHG = MAPHG,
					 @#MADVU = MADICHVU,
					 @#TENDVU = TENDICHVU,
					 @#GIADVU = GIADICHVU
		FROM #TEMP
		
		
		INSERT INTO HOADON_DICHVU(MAHOADON, MADICHVU, TENDICHVU, GIADICHVU)
		VALUES (@MAHOADON, @#MADVU, @#TENDVU, @#GIADVU)
		
		
		DELETE FROM #TEMP
		WHERE MAPHG = @#MAPHG
			AND MADICHVU = @#MADVU
	END
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__HOADON_DICHVU__LayDanhSachDichVuTheoMaHoaDon]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[PROC__HOADON_DICHVU__LayDanhSachDichVuTheoMaHoaDon]
@MAHOADON	VARCHAR(15)
AS
BEGIN
	SELECT *
	FROM HOADON_DICHVU
	WHERE MAHOADON = @MAHOADON
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__HOADON_DIENNUOC__INSERT]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[PROC__HOADON_DIENNUOC__INSERT]
@MAHOADON	VARCHAR(15),
@SODIEN		INT,
@SONUOC		INT
AS
BEGIN
	DECLARE @MAPHG VARCHAR(10)
	SELECT @MAPHG = MAX(MAPHG)		--	Lấy ra mã phòng của hoá đơn
	FROM HOADON
	WHERE MAHOADON = @MAHOADON
	
	---------------------------------------------------------
	DECLARE @#GIADIEN INT
	DECLARE @#GIANUOC INT
	
	SELECT @#GIADIEN = MAX(GIADICHVU)
	FROM DICHVU
	WHERE TENDICHVU = N'Tiền điện'
	
	SELECT @#GIANUOC = MAX(GIADICHVU)
	FROM DICHVU
	WHERE TENDICHVU = N'Tiền nước'
	
	
	INSERT INTO HOADON_DIENNUOC(MAHOADON, GIADIEN, GIANUOC, SODIEN, SONUOC)
	VALUES (@MAHOADON, @#GIADIEN, @#GIANUOC, @SODIEN, @SONUOC)
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__HOADON_DIENNUOC__LayThongTinThangHienTai]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[PROC__HOADON_DIENNUOC__LayThongTinThangHienTai]
@MAPHG	VARCHAR(10),
@THANG	INT,
@NAM	INT
AS
BEGIN
	SELECT hdn.*
	FROM HOADON hd, HOADON_DIENNUOC hdn
	WHERE hd.MAPHG = @MAPHG
		AND hd.NAM = @NAM
		AND hd.THANG = @THANG
		AND hdn.MAHOADON = hd.MAHOADON
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__HOADON_DIENNUOC__LayThongTinThangTruoc]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[PROC__HOADON_DIENNUOC__LayThongTinThangTruoc]
@MAPHG	VARCHAR(10),
@THANG	INT,
@NAM	INT
AS
BEGIN
	DECLARE @THANGTRUOC INT
	DECLARE @NAMTRUOC	INT
	
	IF (@THANG - 1) = 0
		BEGIN
			SET @THANGTRUOC = 12
			SET @NAMTRUOC = @NAM - 1
		END
	ELSE
		BEGIN
			SET @THANGTRUOC = @THANG - 1
			SET @NAMTRUOC = @NAM
		END
	
	
	SELECT hdn.*
	FROM HOADON hd, HOADON_DIENNUOC hdn
	WHERE hd.MAPHG = @MAPHG
		AND hd.NAM = @NAMTRUOC
		AND hd.THANG = @THANGTRUOC
		AND hdn.MAHOADON = hd.MAHOADON
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__HOPDONG__DELETE]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-------------------------------------------------
CREATE PROC	[dbo].[PROC__HOPDONG__DELETE]
@MAHOPDONG	VARCHAR(10)
AS
BEGIN
	DECLARE @MAPHG	VARCHAR(10)
	SELECT @MAPHG = MAPHG
	FROM HOPDONG
	WHERE MAHOPDONG = @MAHOPDONG
	
	WHILE (SELECT COUNT(*) FROM KHACH_HOPDONG WHERE MAHOPDONG = @MAHOPDONG) > 0
	BEGIN
		DECLARE @MAKHACH VARCHAR(10)
		SELECT TOP 1 @MAKHACH = MAKHACH
		FROM KHACH_HOPDONG
		WHERE MAHOPDONG = @MAHOPDONG
		
		
		UPDATE KHACH
		SET TRANGTHAI = N'Hết hợp đồng'
		WHERE MAKHACH = @MAKHACH
		
		
		UPDATE PHONG
		SET SOLG_DANGO = SOLG_DANGO - 1
		WHERE MAPHG = @MAPHG
		
		
		DELETE FROM KHACH_HOPDONG
		WHERE MAHOPDONG = @MAHOPDONG
			AND MAKHACH = @MAKHACH
	END
	
	DELETE FROM HOPDONG
	WHERE MAHOPDONG = @MAHOPDONG
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__HOPDONG__GetList]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-----------------------------------------------
CREATE	PROC	[dbo].[PROC__HOPDONG__GetList]
AS
BEGIN
	SELECT hd.*, ph.TENPHG
	FROM HOPDONG hd, PHONG ph
	WHERE ph.MAPHG = hd.MAPHG
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__HOPDONG__HETHAN]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-------------------------------------------------
CREATE PROC	[dbo].[PROC__HOPDONG__HETHAN]
@MAHOPDONG	VARCHAR(10)
AS
BEGIN
	DECLARE @MAPHG	VARCHAR(10)
	SELECT @MAPHG = MAPHG
	FROM HOPDONG
	
	WHILE (SELECT COUNT(*) FROM KHACH_HOPDONG) > 0
	BEGIN
		DECLARE @MAKHACH VARCHAR(10)
		SELECT TOP 1 @MAKHACH = MAKHACH
		FROM KHACH_HOPDONG
		
		DECLARE @MAHD VARCHAR(10)
		SELECT TOP 1 @MAHD = MAHOPDONG
		FROM KHACH_HOPDONG
		
		UPDATE KHACH
		SET TRANGTHAI = N'Hết hợp đồng'
		WHERE MAKHACH = @MAKHACH
		
		UPDATE PHONG
		SET SOLG_DANGO = SOLG_DANGO - 1
		WHERE MAPHG = @MAPHG
		
		DELETE FROM KHACH_HOPDONG
		WHERE MAHOPDONG = @MAHD
			AND MAKHACH = @MAKHACH
	END
	
	DELETE FROM HOPDONG
	WHERE MAHOPDONG = @MAHD
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__HOPDONG__INSERT]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC	[dbo].[PROC__HOPDONG__INSERT]
@MAHOPDONG	VARCHAR(10),
@MAPHONG	VARCHAR(10),
@THOIHAN	INT,
@TIENCOC	INT
AS
BEGIN
	INSERT INTO HOPDONG(MAHOPDONG, MAPHG, THOIHAN, TIENCOC)
	VALUES (@MAHOPDONG, @MAPHONG, @THOIHAN, @TIENCOC)
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__HOPDONG__TRACOC]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-------------------------------------------------
CREATE	PROC	[dbo].[PROC__HOPDONG__TRACOC]
@MAHOPDONG	VARCHAR(10)
AS
BEGIN
	UPDATE	HOPDONG
	SET DATRACOC = 'True'
	WHERE MAHOPDONG = @MAHOPDONG
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__KHACH__DELETE]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE	PROC	[dbo].[PROC__KHACH__DELETE]
@MAKHACH	VARCHAR(10)
AS
BEGIN
	DELETE FROM KHACH_VIPHAM
	WHERE MAKHACH = @MAKHACH
	
	DELETE FROM KHACH
	WHERE MAKHACH = @MAKHACH
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__KHACH__GetList]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-------------------------------------------
CREATE PROC	[dbo].[PROC__KHACH__GetList]
AS
BEGIN
	
	SELECT hd.MAHOPDONG, kh.*, phg.TENPHG, phg.MAPHG
	FROM KHACH kh LEFT OUTER JOIN KHACH_HOPDONG khd ON khd.MAKHACH = kh.MAKHACH
					LEFT OUTER JOIN HOPDONG hd ON hd.MAHOPDONG = khd.MAHOPDONG
					LEFT OUTER JOIN PHONG phg ON phg.MAPHG = hd.MAPHG
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__KHACH__GetListByRoomID]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-------------------------------------------
CREATE	PROC	[dbo].[PROC__KHACH__GetListByRoomID]
@MAPHG	VARCHAR(10)
AS
BEGIN
	SELECT (kh.HO + ' ' + kh.TEN) AS HOTEN, kh.MAKHACH
	FROM KHACH kh, KHACH_HOPDONG khd, HOPDONG hd, PHONG ph
	WHERE khd.MAKHACH = kh.MAKHACH
		AND khd.MAHOPDONG = hd.MAHOPDONG
		AND ph.MAPHG = hd.MAPHG
		AND ph.MAPHG = @MAPHG
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__KHACH__INSERT]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--------------------------------------------
CREATE PROC	[dbo].[PROC__KHACH__INSERT]
@MAKHACH		VARCHAR(10),
@HO				NVARCHAR(10),
@TEN			NVARCHAR(30),
@GIOITINH		NVARCHAR(10),
@NGAYSINH		DATE,
@QUEQUAN		NVARCHAR(75),
@SOCANCUOC		VARCHAR(20),
@SODIENTHOAI	VARCHAR(15)
AS
BEGIN
	INSERT INTO KHACH(MAKHACH, HO, TEN, GIOITINH, NGAYSINH, QUEQUAN, SOCANCUOC, SODIENTHOAI)
	VALUES (@MAKHACH, @HO, @TEN, @GIOITINH, @NGAYSINH, @QUEQUAN, @SOCANCUOC, @SODIENTHOAI)
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__KHACH__TonTaiSoCanCuoc]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE	PROC	[dbo].[PROC__KHACH__TonTaiSoCanCuoc]
@SOCANCUOC	VARCHAR(20)
AS
BEGIN
	SELECT COUNT(*)
	FROM KHACH
	WHERE SOCANCUOC = @SOCANCUOC
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__KHACH__UPDATE]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--------------------------------------------
CREATE	PROC	[dbo].[PROC__KHACH__UPDATE]
@MAKHACH		VARCHAR(10),
@HO				NVARCHAR(10),
@TEN			NVARCHAR(30),
@GIOITINH		NVARCHAR(10),
@NGAYSINH		DATE,
@QUEQUAN		NVARCHAR(75),
@SOCANCUOC		VARCHAR(20),
@SODIENTHOAI	VARCHAR(15),
@TRANGTHAI		NVARCHAR(15)
AS
BEGIN
	UPDATE	KHACH
	SET HO = @HO,
		TEN = @TEN,
		GIOITINH = @GIOITINH,
		NGAYSINH = @NGAYSINH,
		QUEQUAN = @QUEQUAN,
		SOCANCUOC = @SOCANCUOC,
		SODIENTHOAI = @SODIENTHOAI,
		TRANGTHAI = @TRANGTHAI
	WHERE MAKHACH = @MAKHACH
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__KHACH_HOPDONG__INSERT]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC	[dbo].[PROC__KHACH_HOPDONG__INSERT]
@MAKHACH	VARCHAR(10),
@MAHOPDONG	VARCHAR(10)
AS
BEGIN
	INSERT INTO KHACH_HOPDONG(MAKHACH, MAHOPDONG)
	VALUES (@MAKHACH, @MAHOPDONG)
	
	DECLARE @MAPHG	VARCHAR(10)
	SELECT @MAPHG = MAPHG
	FROM HOPDONG
	WHERE MAHOPDONG = @MAHOPDONG
	
	UPDATE PHONG
	SET SOLG_DANGO = SOLG_DANGO + 1
	WHERE MAPHG = @MAPHG
	
	UPDATE KHACH
	SET TRANGTHAI = N'Đang ở'
	WHERE MAKHACH = @MAKHACH
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__KHACH_VIPHAM__DELETE]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-----------------------------------------------
CREATE	PROC	[dbo].[PROC__KHACH_VIPHAM__DELETE]
@MAVIPHAM	VARCHAR(10),
@MAKHACH	VARCHAR(10),
@THOIGIAN	DATETIME
AS
BEGIN
	DELETE FROM KHACH_VIPHAM
	WHERE MAKHACH = @MAKHACH
		AND MAVIPHAM = @MAVIPHAM
		AND THOIGIANVIPHAM = @THOIGIAN
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__KHACH_VIPHAM__GetList]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE	PROC	[dbo].[PROC__KHACH_VIPHAM__GetList]
AS
BEGIN
	SELECT (kh.HO + ' ' + kh.TEN) AS HOTEN, ph.TENPHG, vp.NOIDUNG, khvp.*
	FROM KHACH kh, KHACH_VIPHAM khvp, VIPHAM vp, KHACH_HOPDONG khd, HOPDONG hd, PHONG ph
	WHERE khvp.MAKHACH = kh.MAKHACH
		AND vp.MAVIPHAM = khvp.MAVIPHAM
		AND khd.MAKHACH = kh.MAKHACH
		AND hd.MAHOPDONG = khd.MAHOPDONG
		AND ph.MAPHG = hd.MAPHG
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__KHACH_VIPHAM__INSERT]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE	PROC	[dbo].[PROC__KHACH_VIPHAM__INSERT]
@MAVIPHAM	VARCHAR(10),
@MAKHACH	VARCHAR(10),
@GHICHU		NVARCHAR(75)
AS
BEGIN
	INSERT INTO KHACH_VIPHAM(MAVIPHAM, MAKHACH, GHICHU)
	VALUES (@MAVIPHAM, @MAKHACH, @GHICHU)
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__KHACH_VIPHAM__UPDATE]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---------------------------------------------
CREATE	PROC	[dbo].[PROC__KHACH_VIPHAM__UPDATE]
@MAVIPHAM	VARCHAR(10),
@MAKHACH	VARCHAR(10),
@THOIGIAN	DATETIME
AS
BEGIN
	UPDATE KHACH_VIPHAM
	SET DAGIAIQUYET = 'True'
	WHERE MAKHACH = @MAKHACH
		AND MAVIPHAM = @MAVIPHAM
		AND THOIGIANVIPHAM = @THOIGIAN
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__KHU__DETELE]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[PROC__KHU__DETELE]
@MAKHU		VARCHAR(10)
AS
BEGIN
	DELETE FROM KHU
	WHERE MAKHU = @MAKHU
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__KHU__INSERT]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[PROC__KHU__INSERT]
@TENKHU		NVARCHAR(15)
AS
BEGIN
	DECLARE @NEXTID VARCHAR(10)
	SELECT @NEXTID = dbo.FUNC__KHU__GetNextID()
	
	INSERT INTO KHU(MAKHU, TENKHU)
	VALUES (@NEXTID, @TENKHU)
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__KHU__UPDATE]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROC	[dbo].[PROC__KHU__UPDATE]
@MAKHU		VARCHAR(10),
@TENKHU		NVARCHAR(15)
AS
BEGIN
	UPDATE	KHU
	SET TENKHU = @TENKHU
	WHERE MAKHU = @MAKHU
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__LOAIPHONG__DELETE]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[PROC__LOAIPHONG__DELETE]
@MALOAIPHG	VARCHAR(15)
AS
BEGIN
	DELETE FROM LOAIPHONG
	WHERE MALOAIPHG = @MALOAIPHG
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__LOAIPHONG__INSERT]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[PROC__LOAIPHONG__INSERT]
@TENLOAIPHG		NVARCHAR(15),
@GIAPHG			INT
AS
BEGIN
	DECLARE @MALOAIPHG VARCHAR(15)
	SELECT @MALOAIPHG = dbo.FUNC__LOAIPHONG__GetNextID()
	
	INSERT INTO LOAIPHONG(MALOAIPHG, TENLOAIPHG, GIAPHG)
	VALUES (@MALOAIPHG, @TENLOAIPHG, @GIAPHG)
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__LOAIPHONG__THONGKE]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC	[dbo].[PROC__LOAIPHONG__THONGKE]
AS
BEGIN
	SELECT lp.TENLOAIPHG, COUNT(ph.MAPHG) AS SOLG
	FROM LOAIPHONG lp, PHONG ph
	WHERE ph.MALOAIPHG = lp.MALOAIPHG
		AND ph.SOLG_DANGO > 0
	GROUP BY lp.TENLOAIPHG
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__LOAIPHONG__UPDATE]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[PROC__LOAIPHONG__UPDATE]
@MALOAIPHG	VARCHAR(15),
@TENLOAIPHG	NVARCHAR(15),
@GIAPHG		INT
AS
BEGIN
	UPDATE LOAIPHONG
	SET TENLOAIPHG = @TENLOAIPHG,
		GIAPHG = @GIAPHG
	WHERE MALOAIPHG = @MALOAIPHG
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__NGUOIDUNG__INSERT]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE	PROC	[dbo].[PROC__NGUOIDUNG__INSERT]
@TENDN		VARCHAR(30),
@MATKHAU	VARCHAR(100),
@HO			NVARCHAR(10),
@TEN		NVARCHAR(30)
AS
BEGIN
	INSERT INTO NGUOIDUNG(TENDN, MATKHAU, HO, TEN)
	VALUES (@TENDN, @MATKHAU, @HO, @TEN)
END 
GO
/****** Object:  StoredProcedure [dbo].[PROC__NGUOIDUNG__UPDATE]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE	PROC	[dbo].[PROC__NGUOIDUNG__UPDATE]
@TENDN		VARCHAR(30),
@MATKHAU	VARCHAR(100),
@HO			NVARCHAR(10),
@TEN		NVARCHAR(30)
AS
BEGIN
	UPDATE NGUOIDUNG
	SET MATKHAU = @MATKHAU,
		HO = @HO, TEN = @TEN,
		TENDN = @TENDN
	WHERE TENDN = @TENDN
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__PHONG__DELETE]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[PROC__PHONG__DELETE]
@MAPHG	VARCHAR(10)
AS
BEGIN
	DELETE FROM DICHVU_PHONG
	WHERE MAPHG = @MAPHG
		AND MADICHVU = 'DVU0000001'
		OR	MADICHVU = 'DVU0000002'
	
	DELETE FROM PHONG
	WHERE MAPHG = @MAPHG
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__PHONG__GetList]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[PROC__PHONG__GetList]
AS
BEGIN
	SELECT k.MAKHU, k.TENKHU, t.MATANG, t.TENTANG, p.MAPHG, p.TENPHG, p.SOLG_DANGO, p.SOLG_TOIDA, p.DANGSUACHUA, l.MALOAIPHG, l.TENLOAIPHG
	FROM PHONG p, TANG t, KHU k, LOAIPHONG l
	WHERE l.MALOAIPHG = p.MALOAIPHG
		AND t.MATANG = p.MATANG
		AND k.MAKHU = t.MAKHU
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__PHONG__INSERT]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--------------------------------------------------------
CREATE PROC	[dbo].[PROC__PHONG__INSERT]
@TENPHG			NVARCHAR(15),
@SOLG_TOIDA		INT,
@MATANG			VARCHAR(10),
@MALOAIPHG		VARCHAR(15),
@DANGSUACHUA	BIT
AS
BEGIN
	DECLARE @#MAPHG VARCHAR(10)
	SELECT @#MAPHG = dbo.FUNC__PHONG__GetNextID()
	
	INSERT INTO PHONG(MAPHG, TENPHG, SOLG_TOIDA, MATANG, MALOAIPHG, DANGSUACHUA)
	VALUES (@#MAPHG, @TENPHG, @SOLG_TOIDA, @MATANG, @MALOAIPHG, @DANGSUACHUA)
	
	
	EXEC PROC__DICHVU_PHONG__INSERT
		 @MADICHVU = 'DVU0000001',
		 @MAPHG = @#MAPHG
	
	EXEC PROC__DICHVU_PHONG__INSERT
		 @MADICHVU = 'DVU0000002',
		 @MAPHG = @#MAPHG
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__PHONG__LayThongTinLoaiPhongTheoTenPhong]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------------------
CREATE	PROC	[dbo].[PROC__PHONG__LayThongTinLoaiPhongTheoTenPhong]
@TENPHG	NVARCHAR(15)
AS
BEGIN
	SELECT lp.*
	FROM PHONG p, LOAIPHONG lp
	WHERE p.TENPHG = @TENPHG
		AND lp.MALOAIPHG = p.MALOAIPHG
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__PHONG__UPDATE]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[PROC__PHONG__UPDATE]
@MAPHG			VARCHAR(10),
@TENPHG			NVARCHAR(15),
@SOLG_TOIDA		INT,
@MATANG			VARCHAR(10),
@MALOAIPHG		VARCHAR(15),
@DANGSUACHUA	BIT
AS
BEGIN
	UPDATE PHONG
	SET TENPHG = @TENPHG,
		SOLG_TOIDA = @SOLG_TOIDA,
		MATANG = @MATANG,
		MALOAIPHG = @MALOAIPHG,
		DANGSUACHUA = @DANGSUACHUA
	WHERE MAPHG = @MAPHG
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__PHONG_GetEmptyList]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC	[dbo].[PROC__PHONG_GetEmptyList]	--	Phòng còn dư chỗ
AS
BEGIN
	SELECT p.*, lp.TENLOAIPHG, lp.GIAPHG
	FROM PHONG p, LOAIPHONG lp
	WHERE p.DANGSUACHUA = 'False'
		AND p.SOLG_DANGO < p.SOLG_TOIDA
			AND lp.MALOAIPHG = p.MALOAIPHG
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__TANG__DETELE]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[PROC__TANG__DETELE]
@MATANG		VARCHAR(10)
AS
BEGIN
	DELETE FROM TANG
	WHERE MATANG = @MATANG
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__TANG__GetLastFloor_ByAreaID]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC	[dbo].[PROC__TANG__GetLastFloor_ByAreaID]
@MAKHU	VARCHAR(10)
AS
BEGIN
	DECLARE	@MAX_FLOOR INT
	SELECT @MAX_FLOOR = MAX(CONVERT(INT, SUBSTRING(TENTANG, 6, LEN(TENTANG) - 5)))
	FROM TANG
	WHERE MAKHU = @MAKHU

	SELECT t.*, k.TENKHU
	FROM TANG t, KHU k
	WHERE k.MAKHU = @MAKHU
		AND t.MAKHU = k.MAKHU
		AND CONVERT(INT, SUBSTRING(TENTANG, 6, LEN(TENTANG) - 5)) = @MAX_FLOOR
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__TANG__GetList]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC	[dbo].[PROC__TANG__GetList]
AS
BEGIN
	SELECT k.MAKHU, k.TENKHU, t.MATANG, t.TENTANG
	FROM TANG t, KHU k
	WHERE t.MAKHU = k.MAKHU
	GROUP BY k.MAKHU, k.TENKHU, t.MATANG, t.TENTANG
	ORDER BY k.TENKHU, MAX(CONVERT(INT, SUBSTRING(t.TENTANG, 6, LEN(t.TENTANG) - 5)))
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__TANG__INSERT]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[PROC__TANG__INSERT]
@MAKHU		VARCHAR(10)
AS
BEGIN
	DECLARE @MATANG VARCHAR(10)
	SELECT @MATANG = dbo.FUNC__TANG__GetNextID()	-- Tự lấy mã tiếp theo
	
	DECLARE @TENTANG NVARCHAR(15)
	SELECT @TENTANG = dbo.FUNC__TANG__GetNextFloorName(@MAKHU)
	
	INSERT INTO TANG(MAKHU, MATANG, TENTANG)
	VALUES (@MAKHU, @MATANG, @TENTANG)
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__TANG__UPDATE]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---------------------------------
CREATE	PROC	[dbo].[PROC__TANG__UPDATE]
@MATANG		VARCHAR(10),
@TENTANG	VARCHAR(15)
AS
BEGIN
	UPDATE	TANG
	SET TENTANG = @TENTANG
	WHERE MATANG = @MATANG
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__THIETBI__DETELE]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[PROC__THIETBI__DETELE]
@MATBI		VARCHAR(10)
AS
BEGIN
	DELETE FROM THIETBI
	WHERE MATBI = @MATBI
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__THIETBI__INSERT]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[PROC__THIETBI__INSERT]
@TENTBI		NVARCHAR(25),
@GIATBI		INT,
@SOLG_TON	INT
AS
BEGIN
	DECLARE @NEXTID VARCHAR(10)
	SELECT @NEXTID = dbo.FUNC__THIETBI__GetNextID()	--	Tự động lấy mã tiếp theo
	
	INSERT INTO THIETBI(MATBI, TENTBI, GIATBI, SOLG_TON)
	VALUES (@NEXTID, @TENTBI, @GIATBI, @SOLG_TON)
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__THIETBI__UPDATE]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[PROC__THIETBI__UPDATE]
@MATBI		VARCHAR(10),
@TENTBI		NVARCHAR(15),
@GIATBI		INT,
@SOLG_TON	INT
AS
BEGIN
	UPDATE	THIETBI
	SET TENTBI = @TENTBI,
		GIATBI = @GIATBI,
		SOLG_TON = @SOLG_TON
	WHERE MATBI = @MATBI
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__THIETBI_PHONG__DETELE]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---------------------------------
CREATE	PROC	[dbo].[PROC__THIETBI_PHONG__DETELE]
@MATBI			VARCHAR(10),
@MAPHG			VARCHAR(10),
@THOIGIANCAP	DATETIME
AS
BEGIN
	DELETE FROM THIETBI_PHONG
	WHERE MATBI = @MATBI
		AND MAPHG = @MAPHG
		AND THOIGIANCAP = @THOIGIANCAP
	
	UPDATE THIETBI
	SET SOLG_PHANBO = SOLG_PHANBO - 1,
		SOLG_TON = SOLG_TON + 1
	WHERE MATBI = @MATBI
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__THIETBI_PHONG__GetList]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE	PROC [dbo].[PROC__THIETBI_PHONG__GetList]
AS
BEGIN
	SELECT tp.*, tb.TENTBI
	FROM THIETBI_PHONG tp, THIETBI tb
	WHERE tp.MATBI = tb.MATBI
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__THIETBI_PHONG__GetListByRoomID]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE	PROC	[dbo].[PROC__THIETBI_PHONG__GetListByRoomID]
@MAPHG	VARCHAR(10)
AS
BEGIN
	SELECT tp.*, tb.TENTBI
			FROM THIETBI_PHONG tp, THIETBI tb
			WHERE tp.MAPHG = @MAPHG
				AND tp.MATBI = tb.MATBI
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__THIETBI_PHONG__INSERT]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------
CREATE	PROC	[dbo].[PROC__THIETBI_PHONG__INSERT]
@MATBI	VARCHAR(10),
@MAPHG	VARCHAR(10)
AS
BEGIN
	INSERT INTO THIETBI_PHONG(MATBI, MAPHG)
	VALUES (@MATBI, @MAPHG)
	
	UPDATE THIETBI
	SET SOLG_PHANBO = SOLG_PHANBO + 1,
		SOLG_TON = SOLG_TON - 1
	WHERE MATBI = @MATBI
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__VIPHAM__DELETE]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-----------------------------------------------------
CREATE	PROC	[dbo].[PROC__VIPHAM__DELETE]
@MAVIPHAM	VARCHAR(10)
AS
BEGIN
	DELETE FROM VIPHAM
	WHERE MAVIPHAM = @MAVIPHAM
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__VIPHAM__INSERT]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC	[dbo].[PROC__VIPHAM__INSERT]
@NOIDUNG	NVARCHAR(75),
@HINHPHAT	NVARCHAR(75)
AS
BEGIN
	DECLARE @NEXTID VARCHAR(10)
	SELECT @NEXTID = dbo.FUNC__VIPHAM__GetNextID()
	
	INSERT INTO VIPHAM(MAVIPHAM, NOIDUNG, HINHPHAT)
	VALUES (@NEXTID, @NOIDUNG, @HINHPHAT)
END
GO
/****** Object:  StoredProcedure [dbo].[PROC__VIPHAM__UPDATE]    Script Date: 4/18/2024 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-----------------------------------------------------
CREATE	PROC	[dbo].[PROC__VIPHAM__UPDATE]
@MAVIPHAM	VARCHAR(10),
@NOIDUNG	NVARCHAR(75),
@HINHPHAT	NVARCHAR(75)
AS
BEGIN
	UPDATE VIPHAM
	SET NOIDUNG = @NOIDUNG,
		HINHPHAT = @HINHPHAT
	WHERE MAVIPHAM = @MAVIPHAM
END
GO
USE [master]
GO
